
@model List<UserVM>


<div class="row">
    <div class="col-12">
              <!-- Basic Bootstrap Table -->
              <div class="card">

                <div class="d-flex justify-content-between align-items-center">
                      <h5 class="card-header">Users</h5>
                   <div style="margin-right:5px">
                       <a asp-action="Create" class="btn btn-primary text-white rounded-pill">Create</a>
                   </div>
                </div>

                <div class="table-responsive text-nowrap">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>FullName</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>

                        <th style="text-align:right">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (UserVM item in Model)
                        {
                        <tr>
                                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.FullName</strong></td>
                                  <td>@item.UserName</td>
                                  <td>@item.Email</td>
                                  <td>@item.Role</td>
                          <td>
                                    @if (item.IsDeactive)
                             {
                                <div class="text-danger">Passive</div>
                             }
                             else
                             {
                                <div class="text-success">Active</div>
                             }
                         </td>
                             <td>
                                <div class="d-flex justify-content-end">  
                                 <div style="margin-right:5px">
                                    <a  asp-action="ResetPassword" asp-route-id="@item.Id" class="btn btn-warning text-white rounded-pill">Reset Password</a>
                                 </div>
                                 <div style="margin-right:5px">
                                    <a  asp-action="Update" asp-route-id="@item.Id" class="btn btn-info text-white rounded-pill">Update</a>
                                 </div>

                                 @if (item.UserName!= User.Identity.Name)
                                 {
                                    @if (item.IsDeactive)
                                    {
                                        <div style="margin-right:5px">
                                            <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-success text-white rounded-pill">Activate</a> 
                                        </div>
                                    }
                                    else
                                    {
                                       <div style="margin-right:5px">
                                            <a  asp-action="Activity" asp-route-id="@item.Id" class="btn btn-danger text-white rounded-pill">DeActivate</a> 
                                       </div>
                                    }
                                 }
                                
                           
                           </div>
                        </td>
                        </tr>
                        }
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
    </div>
</div>